# Heat template parameters
parameters:
  private_net_name: "{{ private_net_name }}"
  private_subnet_name: "{{ private_subnet_name }}"
  private_net_cidr: "{{ private_net_cidr }}"
  public_net_name: "{{ public_net_name }}"
  public_subnet_name: "{{ public_subnet_name }}"
  public_physical_network: "{{ public_physical_network }}"
  public_network_type: "{{ public_network_type }}"
  public_net_cidr: "{{ floating_ip_cidr }}"
  public_net_gateway: "{{ public_net_gateway }}"
  public_net_pool_start: "{{ public_net_pool_start }}"
  public_net_pool_end: "{{ public_net_pool_end }}"
